*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDEA
.idea

# Connectors
# General ignores
igrafx-connectors/*.class
igrafx-connectors/*.log

# sbt specific
igrafx-connectors/.cache/
igrafx-connectors/.history/
igrafx-connectors/.lib/
igrafx-connectors/dist/*
igrafx-connectors/target/
igrafx-connectors/artifacts/
igrafx-connectors/lib_managed/
igrafx-connectors/src_managed/
igrafx-connectors/project/boot/
igrafx-connectors/project/plugins/project/
igrafx-connectors/.scala_dependencies
igrafx-connectors/.worksheet
/igrafx-connectors/project/target/
/igrafx-connectors/project/project/target/
/igrafx-connectors/aggregationMain/target/
/igrafx-connectors/core/target/

# Docker compose and examples
/docker-compose/data/
/docker-compose/extensions/
/docker-compose/aggregation-sink-igrafx/
/examples/sources/error/
/examples/sources/input/
/examples/sources/processed/jira_0_stream.csv/
/examples/sources/processed/snow_0_stream.csv/

# UDFs
/igrafx-udfs/null/
/igrafx-udfs/project/project/target/
/igrafx-udfs/project/target/
/igrafx-udfs/target/
